<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AdoVue</title>
        @entryPointStyles('app')
    </head>
    <body>
        <main id="app"></main>
        @entryPointScripts('app')
    </body>
</html>